<h2>Pizza Details</h2>

<p>First name: <%= @pizza.first_name %></p>
<p>Last name: <%= @pizza.last_name %></p>
<p>Topping: <%= @pizza.topping %></p>
<p>Quantity: <%= @pizza.quantity%></p>
<p>Price: <%= @pizza.price%></p>
<a href="/pizzas/<%= @pizza.id %>/edit">Edit order details</a>
<form class="" action="/pizzas/<%= @pizza.id %>/delete" method="POST">
    <input type="submit" name="delete-button" value="Delete Order">
</form>
